.offerContainer{
    background-image: url("https://www.shutterstock.com/image-photo/traditional-thanksgiving-turkey-dinner-top-260nw-1832813926.jpg");
   background-repeat: no-repeat;
   background-size: cover;

}